#{extends 'CRUD/layout.html' /}
#{set title:messages.get('objects.allergens') /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'objects.allergens'}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['allergenName']/}
    </div>

    <div id="crudListPagination">
        &{'total', models.Allergen.count()}
        #{pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'allergen.add'}</a>
    </p>

</div>
