#{extends 'CRUD/layout.html' /}
#{set title:messages.get('surveys') /}

<script>
    #{include '/public/javascripts/surveys-list.js'/}
</script>


<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'surveys'}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['surveyDate', 'alergeticDifficultyDegree', 'alergeticInsufficiencyDegree', 'user', 'medicineCard']}
           #{crud.custom 'surveyDate'}
           		<span class="hiddenLinks">@{admin.Surveys.show(object.surveyId)}</span>
               	${object.surveyDate.format()}
		   #{/crud.custom}
		   #{crud.custom 'user'}
		   		<span class="hiddenLinks">@{admin.Users.show(object.user.userId)}</span>
               	${object.user}
		   #{/crud.custom}
		   #{crud.custom 'medicineCard'}
		   		<span class="hiddenLinks">@{admin.MedicineCards.show(object.medicineCard.medicineCardId)}</span>
           	    &{'title.edit'}
		   #{/crud.custom}		   
	    #{/ crud.table}
    </div>

    <div id="crudListPagination">
        &{'total', models.Survey.count()}
        #{pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'survey.add'}</a>
    </p>

</div>
