#{extends 'CRUD/layout.html' /}
#{set title:messages.get('objects.surveyanswers') /}

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'answers.edit'}</h2>

    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form /}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}
    </div>

    #{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="&{'answers.delete'}" onclick="return confirm('&{'answers.delete'}')" />
        </p>
    #{/form}

</div>