#{extends 'main.html' /}
#{set title:messages.get('user') /}

#{stylesheet 'user-view-show-user.css'/}
#{if flash.success}
   <div class="crudFlash flashSuccess">
       ${flash.success}
   </div>
#{/if}
#{if flash.error || error}
   <div class="crudFlash flashError">
       ${error ?: flash.error}
   </div>
#{/if}
<div>
	<h2 id="userInfoContainer">&{'user'}</h2>
	<div class="userInfoContainer">
	#{form action:@UserView.saveUser(), enctype:'multipart/form-data'}
		<input id="user_id" type="hidden" name="user.userId" value=${user.userId}>
		#{field 'user.lastName'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="user_lastName">&{'lastName'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
				<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'user.firstName'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="user_firstName">&{'firstName'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
				<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'user.middleName'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="user_middleName">&{'middleName'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
				<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'user.login'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="user_login">&{'login'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
				<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'user.password'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="user_password">&{'password'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
				<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'user.post'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="user_post">&{'post'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
				<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		<p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save'}">
            <input type="submit" name="_cancel" value="&{'crud.cancel'}">
        </p>
    #{/form}
	</div>
</div>
