#{extends 'CRUD/layout.html' /}
#{set title:messages.get('objects.analysisnorms') /}

<script>
    #{include '/public/javascripts/analysis-norms-list.js'/}
</script>



<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'objects.analysisnorms'}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['analysis', 'description', 'unit'] }
           #{crud.custom 'analysis'}
           	  <span class="hiddenLinks">@{admin.Analysiss.show(object.analysis.analysisId)}</span>
		      ${object.analysis.analysisName}
		   #{/crud.custom}
           #{crud.custom 'description'}
           	  <span class="hiddenLinks">@{admin.AnalysisNorms.show(object.analysisNormId)}</span>
		      ${object.description}
		   #{/crud.custom}
		#{/ crud.table}
    </div>

    <div id="crudListPagination">
    	&{'total', models.AnalysisNorm.count()}
        #{pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'analysisnorm.add'}</a>
    </p>

</div>
