#{extends 'CRUD/layout.html' /}
#{set title:messages.get('objects.nosologys') /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'objects.nosologys'}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['nosologyName']}
        	#{crud.custom 'nosologyName'}
           	  	<span class="hiddenLinks">@{Nosologys.show(object.nosologyId)}</span>
		      	${object.nosologyName}
		   	#{/crud.custom}
		#{/crud.table}
    </div>

    <div id="crudListPagination">
    	&{'total', models.Nosology.count()}
        #{pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'nosology.add'}</a>
    </p>

</div>
