#{field 'object.' + _name}	
	<div class="control-group">    
		<label for="${field.id}" class="control-label">
	        &{_name}
	    </label>
	    <div class="controls">
	    	<input id="${field.id}" class="input-xlarge focused ${field.errorClass}" type="text" name="${field.name}" value="${params[field.name]?.escape()?.raw() ?: field.error?.message == 'validation.required' ? '' : _value?.escape()?.raw()}" size="5" />
	    </div>
	    #{ifError field.name}
			<span class="help-inline error">${field.error.raw()}</span>
	    #{/ifError}
	</div>
#{/field}