%{ pName = 'object.' + _name + '.' + play.db.Model.Manager.factoryFor(_field.property.relationType).keyName() }%
%{ 
    relationFieldAddUrl = "/admin/" + _field.property.relationType.getSimpleName().toLowerCase() + "s" + '/new';
}%

#{field 'object.' + _name}
 <div class="control-group">   
    <label for="${field.id}" class="control-label">
         &{_name} 
    </label>
 
  <div class="controls">
     #{if _field.multiple}
          <input type="hidden" name="${pName}" value="" />
          <select id="${field.id}" name="${pName}" multiple="yes" class="chosen" style="width:500px;">
              %{ _field.choices.each() { }%
              %{
                  selected = false;
                  if(field.error?.message != 'validation.required') {
                      if(params[pName]) {
                          selected = params.getAll(${pName}).contains(it._key().toString())
                      } else {
                          for (it2 in _value) {
                              if(it2._key() == it._key()) {
                                  selected = true;
                              }
                          }
                      }
                  }
              }%
              <option value="${it._key()}" ${selected ? 'selected="true"'.raw() : ''}>${it}</option>
              %{ } }%
          </select>
      #{/if}
      #{else}
          <select id="${field.id}" name="${pName}" class="chosen" style="width:280px;">
              #{ifnot _field.required}
                  <option value="">&{'crud.none'}</option>
              #{/ifnot}
              #{else}
                  <option value="">&{'crud.selectValue'}</option>
              #{/else}
              %{ _field.choices.each() { }%
              %{
                  selected = false
                  if(field.error?.message != 'validation.required') {
                      if(params[pName]) {
                          selected = (it._key().toString() == params[pName])
                      } else {
                          selected = it._key() == _value?._key()
                      }
                  }
              }%
              <option value="${it._key()}" ${selected ? 'selected="true"'.raw() : ''}>${it}</option>
              %{ } }%
          </select>
      #{/else}
      #{ifError field.name}
        <span class="help-inline error">${field.error.raw()}</span>
      #{/ifError}
      <a href="${relationFieldAddUrl}" 
      class="btn btn-mini btn-success popup-add" 
      rel="tooltip" title="" 
      data-original-title="Додати новий обєкт"
      onclick="openModal(this); return false;">
        <i class="icon icon-plus icon-white"></i> 
      </a> 
  </div>
</div>

#{/field}
<script >
  function openModal (elem) {
      var url = $(elem).attr('href');
      console.log(url);
      // $.get(url, function(response, status, xhr) {
      //   var $html = $(response);
      //   $html.find('.label').remove();
      //   $('#modal-window .modal-header').html($html.find('.block-header .pull-left').html());
      //   $('#modal-window .modal-body').html($html.find('#crudBlank').html());
      //   $('#modal-window').modal({});    
      // });
      if (window.showModalDialog) {
        window.showModalDialog(url, url);
      } else {
        window.open(url, url, "modal=yes");
      }
  }
</script>

<div class="modal hide fade" id="modal-window">
    <div class="modal-header">modal header</div>
    <div class="modal-body">modal body</div>
    <!-- <div class="modal-footer">modal footer</div> -->
</div>
