#{form action:@list().remove('page'), method:'GET', class:'navbar-form pull-left', style: "margin-left:30px;"}
    #{if _fields}
        <input type="hidden" name="searchFields" value="${_fields.toString().substring(1, _fields.toString().length()-1).replace(',', '')}" />
    #{/if}
    <input type="text" name="search" value="${params.search?.escape()?.raw()}" placeholder="Введіть слово.."/> 
    <button type="submit" title="" class="btn btn-primary" >&{'crud.search'}</button>
    #{if _caller.params.search}
        (<a href="@{list()}">&{'crud.list.totalSize', _caller.totalCount}</a>)
    #{/if}
#{/form}
