#{form action:_action, enctype:'multipart/form-data', class:'form-horizontal'}
        <legend>${_legend}</legend>
        <fieldset>
            #{doBody /}
        </fieldset>

        <div class="form-actions">
            <button type="submit" 
                    class="btn btn-primary" 
                    name="_saveAndContinue" 
                    value="" > &{'crud.save', type.modelName} 
            </button>
            <button type="submit" 
                    class="btn" 
                    name="_cancel" 
                    value="" > &{'crud.cancel', type.modelName} 
            </button>
        </div>
#{/form}