#{extends 'CRUD/layout.html' /}
#{set title:messages.get('objects.analysiss') /}

<script>
    #{include '/public/javascripts/analysiss-list.js'/}
</script>



<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'objects.analysiss'}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['analysisName', 'analysisType'] }
           #{crud.custom 'analysisName'}
           	  <span class="hiddenLinks">@{Analysiss.show(object.analysisId)}</span>
		      ${object.analysisName}
		   #{/crud.custom}
           #{crud.custom 'analysisType'}
           	  <span class="hiddenLinks">@{Analysiss.show(object.analysisId)}</span>
		      ${object.analysisType}
		   #{/crud.custom}
		#{/ crud.table}
    </div>

    <div id="crudListPagination">
    	&{'total', models.Analysis.count()}
        #{pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'analysis.add'}</a>
    </p>

</div>
