#{extends 'CRUD/layout.html' /}
#{set title:messages.get('nosologycomplainttype.add') /}

<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'nosologycomplainttype.add'}</h2>

    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data'}
        #{crud.form fields:['complaintTypeId', 'multyplier', 'nosology']}
        	#{crud.custom 'complaintTypeId'}
	        	<label for="${complaintTypeId}">&{'complaintTypeId'}</label>
 		     	#{select 'object.complaintTypeId', items:models.ComplaintType.findAll(), valueProperty:'complaintTypeId', 
		       		labelProperty:'complaintTypeName', value:object.complaintTypeId, id:'complaintSelector' /}
		   #{/crud.custom}
        #{/crud.form}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
            <input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
        </p>
    #{/form}
    </div>

</div>