#{extends 'CRUD/layout.html' /}
#{set title:messages.get('objects.nosologycomplainttypes') /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'objects.nosologycomplainttypes'}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['complaintTypeId', 'multyplier', 'nosology']}
        	#{crud.custom 'complaintTypeId'}
           		<span class="hiddenLinks">@{admin.NosologyComplaintTypes.show(object.Id)}</span>
	    		${object.complaintTypeId}
		   	#{/crud.custom}
		   	#{crud.custom 'multyplier'}
           		<span class="hiddenLinks">@{admin.NosologyComplaintTypes.show(object.Id)}</span>
	    		${object.multyplier}
		   	#{/crud.custom}
		  	 #{crud.custom 'nosology'}
           		<span class="hiddenLinks">@{admin.Nosologys.show(object.nosology.nosologyId)}</span>
	    		${object.nosology.nosologyName}
		   	#{/crud.custom}
        #{/crud.table}
    </div>

    <div id="crudListPagination">
        &{'total', models.NosologyComplaintType.count()}
        #{pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'nosologycomplainttype.add'}</a>
    </p>

</div>
