#{extends 'main.html' /}
#{set title:messages.get('survey.new') /}

#{stylesheet 'survey-view-add.css'/}

<script>
    #{include '/public/javascripts/survey-view-add.js'/}
</script>

<div id="survey-types">
	#{list items:surveyObjects}
		#{a @reloadTabs(_.id, medicineCard.medicineCardId)}
			[${_.title}]
		#{/a}
	#{/}
</div>

<div id="surveyEditTitleContainer">
	<h2 class="listTitle">&{'survey.new'}: </h2>
	<div id="selectSyndromeBlock">
		#{list items:surveyObjects}
			<!-- TODO: Maybe later we could restore it. 
				That buttons was not bad idea after all. -->
	   			<div class="radio">
			        <input type="radio" id="radio_${_.id}" name="synd_radio" value="${_.id}"/>
			        <label for="radio_${_.id}" class="syndromeLabel">${_.title}</label>
				</div> 
   			
		#{/list}
	</div>
	#{select 'surveyObjects', 
			items: surveyObjects, 
			valueProperty: 'id', 
			labelProperty: 'title', 
			value: 0, 
			class: 'select-survey-object'
	/}
	<button id="choose">go</button>
</div>

<div id="survey-add-tabs">
	<input id="hidden-survey-id" type="text" value="-1">
	<input id="hidden-med-card-id" type="text" value="${medicineCard.medicineCardId}">
	<div id="tabs">
		#{survey-tabs surveyObject: surveyObject /}
	</div>
</div>