#{extends 'main.html' /}
#{set title:messages.get('survey.new') /}

#{stylesheet 'survey-view-add.css'/}

#{stylesheet "vendors/chosen.css" /}
#{script "vendors/jquery.chosen.min.js" /}


<script>
    #{include '/public/javascripts/survey-view-add.js'/}
</script>

<!-- <div id="survey-types">
	#{list items:surveyObjects}
		#{a @reloadTabs(_.id, medicineCard.medicineCardId)}
			[${_.title}]
		#{/a}
	#{/}
</div> -->

<div id="surveyEditTitleContainer">
 	<div class="form-horizontal choose-survey-object">
	 	<div class="control-group">
	 		<label class="control-label">&{'survey.new'}</label>
	 		<div class="controls">
			 	<select id="choose-survey-obj" class="chosen">
					#{list items:surveyObjects}
						<option value="${_._key()}">
							${_.title}
						</option>
					#{/list}
				</select>
				<button id="choose" class="btn btn-small btn-primary">Choose</button>
	 		</div>
	 	</div>
 	</div>
</div>

<div id="survey-add-tabs">
	<input id="hidden-survey-id" type="text" value="-1">
	<input id="hidden-med-card-id" type="text" value="${medicineCard.medicineCardId}">
	<div id="tabs">
		#{survey-tabs surveyObject: surveyObject /}
	</div>
</div>