#{extends 'main.html' /}
#{set title:messages.get('survey.new') /}
#{stylesheet 'survey-view-add.css'/}

<script>
    #{include '/public/javascripts/survey-view-add-nosology.js'/}
</script>


<div id="surveyEditTitleContainer">
    <h2 class="listTitle">&{'survey.new'}</h2>
    <div id="selectSyndromeBlock">
    #{list items:nosologies, as:'nosology'}
        <div class="radio">
            <input type="radio" id="radio_${nosology.nosologyId}" name="synd_radio" value="${nosology.nosologyId}"/>
            <label for="radio_${nosology.nosologyId}" class="syndromeLabel">${nosology.nosologyName}</label>
        </div>
    #{/list}
    </div>
</div>

<div id="survey-add-tabs">
    <input id="hidden-survey-id" type="text" value="-1">
    <input id="hidden-med-card-id" type="text" value="${medicineCard.medicineCardId}">
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">&{'complaints'}</a></li>
            <li><a href="#tabs-2">&{'survey.laboratory'}</a></li>
            <li><a href="#tabs-3">&{'survey.clinic'}</a></li>
            <li><a href="#tabs-4">&{'survey.treatment'}</a></li>
            <li><a href="#tabs-5">&{'survey.nosology'}</a></li>
        </ul>
        <div id="tabs-1">
        *{
            #{include 'tags/survey/complaintsAddTab.html' /}
        }*
        </div>
        *{
            <div id="tabs-2">
            #{include 'tags/survey/analysesAddTab.html' /}
            </div>
            <div id="tabs-3">
            #{include 'tags/survey/clinicsAddTab.html' /}
            </div>
            <div id="tabs-4">
            #{include 'tags/survey/treatmentsAddTab.html' /}
            </div>
            <div id="tabs-5">
            #{include 'tags/survey/nosologyAddTab.html' /}
            </div>
        }*
    </div>
</div>