#{extends 'main.html' /}
#{set title:messages.get('survey.edit.title') /}

#{stylesheet 'survey-view-edit.css'/}

<script>
    #{include '/public/javascripts/survey-view-edit.js'/}
</script>



<div id="surveyEditTitleContainer">
	<h2 id="surveyEditTitleContainer">&{'survey.edit.title'}</h2>
*{
	<!-- 	
		<div id="selectSyndromeBlock">
			#{list items:syndromes, as:'synd'}
	   			<div class="radio">
			        <input type="radio" id="radio_${synd.syndromeId}" name="synd_radio" value="${synd.syndromeId}"/>
			        <label for="radio_${synd.syndromeId}" class="syndromeLabel">${synd.title}</label>
				</div>
			#{/list}
		</div> 
	-->

}*
</div>

<div id="survey-edit-tabs">
	<input id="hidden-survey-id" type="text" value="${survey.surveyId}">
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">&{'complaints'}</a></li>
			<li><a href="#tabs-2">&{'survey.laboratory'}</a></li>
			<li><a href="#tabs-3">&{'survey.clinic'}</a></li>
			<li><a href="#tabs-4">&{'survey.treatment'}</a></li>
			<li><a href="#tabs-5">&{'survey.nosology'}</a></li>
		</ul>
		<div id="tabs-1">
			#{include 'tags/survey/complaintsEditTab.html' /}
		</div>
		<div id="tabs-2">
			#{include 'tags/survey/analysesEditTab.html' /}
		</div>
		<div id="tabs-3">
			#{include 'tags/survey/clinicsEditTab.html' /}
		</div>
		<div id="tabs-4">
			#{include 'tags/survey/treatmentsEditTab.html' /}
		</div>
		<div id="tabs-5">
			#{include 'tags/survey/nosologyEditTab.html' /}
		</div>
	</div>
</div> 