#{extends 'main.html' /}
#{set title:messages.get('survey.show') /}

#{stylesheet 'survey-view-show.css'/}

<script>
    #{include '/public/javascripts/survey-view-show.js'/}
</script>



<div id="surveyEditTitleContainer">
	<h2 id="surveyShowTitleContainer" class="listTitle">&{'survey.show'}</h2>
	<div id="selectSyndromeBlock">
		#{list items:syndromes, as:'synd'}
   			<div class="radio">
		        <input type="radio" id="radio_${synd.syndromeId}" name="synd_radio" value="${synd.syndromeId}"/>
		        <label for="radio_${synd.syndromeId}" class="syndromeLabel">${synd.name}</label>
			</div>
		#{/list}
	</div>
</div>

<div class="syndromeTitleContainer">
	<a class="editButton" href="@{SurveyView.edit(survey.surveyId)}">&{'title.edit'}</a>
</div>

<div id="survey-show-tabs">
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">&{'complaints'}</a></li>
			<li><a href="#tabs-2">&{'survey.laboratory'}</a></li>
			<li><a href="#tabs-3">&{'survey.clinic'}</a></li>
			<li><a href="#tabs-4">&{'survey.treatment'}</a></li>
			<li><a href="#tabs-5">&{'survey.nosology'}</a></li>
		</ul>
		<div id="tabs-1">
			#{include 'tags/survey/complaintsShowTab.html' /}
		</div>
		<div id="tabs-2">
			#{include 'tags/survey/analysesShowTab.html' /}
		</div>
		<div id="tabs-3">
			#{include 'tags/survey/clinicsShowTab.html' /}
		</div>
		<div id="tabs-4">
			#{include 'tags/survey/treatmentsShowTab.html' /}
		</div>
		<div id="tabs-5">
			#{include 'tags/survey/nosologyShowTab.html' /}
		</div>
	</div>
</div>