#{extends 'CRUD/layout.html' /}
%{
    translatedTitle = messages.get('objects.' + type.modelName.toLowerCase() + 's');
}%
#{set title:messages.get('crud.show.title', translatedTitle) /}

<div id="crudShow" class="${type.name}">
    #{set 'block-title'}
        ${ messages.get('crud.show.title', translatedTitle ) }
    #{/set}

    #{set 'info'}
        Edit
    #{/set}

    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data', class:'form-horizontal'}
        #{crud.form }
            #{crud.custom 'medications'}
                <div class="control-group">            
                    <label for="${medications}" class="control-label"><a href="@{admin.Medications.list()}" class="nonUnderlined">&{'objects.medications'}</a></label>
                    <div class="controls">
                        #{if object.medications != null }
                            #{list items:object.medications}
                                <li>
                                    <a class="muted details " 
                                       
                                       href="@{admin.Medications.show(_._key())}">${_}</a> <i class="icon-search tooltip-right" data-original-title="Відкрити деталі"></i>
                                </li>
                            #{/list}
                        #{/if}
                        #{else}
                            &{'crud.list.empty'}                
                        #{/else}
                    </div>
                </div>
            #{/crud.custom}
  
        #{/crud.form}
        <div class="form-actions">
           <button type="submit" 
                   name="_save" 
                   class="btn btn-primary">
                   &{'crud.save', type.modelName}
           </button>
           <button type="button" class="btn">
            &{'crud.cancel', type.modelName}
           </button>
           <button type="submit" 
                  class="btn btn-danger pull-right" 
                  name="_delete" 
                  onclick="if (confirm('&{'crud.delete', object}')) { $('#deleteObject').submit();} return false;  "
                value="" > &{'crud.delete', '"' + object.toString() + '"'}
            </button> 
        </div>
    #{/form}
    </div>
    #{form @delete(object._key()), 
           id:"deleteObject", 
           class: "invisible"}
    #{/form}
</div>