#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}
%{
    translatedTitle = messages.get('objects.' + type.modelName.toLowerCase() + 's');
}%

<div id="crudList" class="${type.name}">
    <!-- Block title -->
    #{set 'block-title'}
        <a href="@{blank()}" class="tooltip-top" data-original-title="${ messages.get('crud.blank.title', translatedTitle ) }">
            <i class="icon-plus-sign"></i>
        </a>
        ${translatedTitle}
    #{/set}

    <!-- Add additional info about entity to block -->
    #{set 'info' }
        '&{'total', type.count("","","1=1")}'
    #{/set}

    #{if type.count("","","1=1") }
        <!-- Add search input to block -->
        #{set 'search'}
            #{crud.search /}
        #{/set}

        <div id="crudListTable">
            #{crud.table fields: [ 'title', 'complaintTypes', 'analyzes', 'anamnezes', 'anamnesisDiseases', 'treatmentTypes' ] }
                #{crud.custom 'title'}
                    <a href="@{show(object._key())}">${object.title}</a>
                #{/crud.custom}
                #{crud.custom 'complaintTypes'}
                    <ul class="big-data">
                        #{list object.complaintTypes}
                            <li><a class="muted details" href="@{admin.ComplaintTypes.show(_._key())}">${_}</a></li>
                        #{/list}
                    </ul>
                #{/crud.custom}

                #{crud.custom 'analyzes'}
                    <ul class="big-data">
                        #{list object.analyzes}
                            <li><a class="muted details" href="@{admin.Analysiss.show(_._key())}">${_}</a></li>
                        #{/list}
                    </ul>
                #{/crud.custom}

                #{crud.custom 'anamnezes'}
                    <ul class="big-data">
                        #{list object.anamnezes}
                            <li><a class="muted details" href="@{admin.Anamnesiss.show(_._key())}">${_}</a></li>
                        #{/list}
                    </ul>
                #{/crud.custom}

                #{crud.custom 'anamnesisDiseases'}
                    <ul class="big-data">
                        #{list object.anamnesisDiseases}
                            <li><a class="muted details" href="@{admin.AnamnesisDiseases.show(_._key())}">${_}</a></li>
                        #{/list}
                    </ul>
                #{/crud.custom}

                #{crud.custom 'treatmentTypes'}
                    <ul class="big-data">
                        #{list object.treatmentTypes}
                            <li><a class="muted details" href="@{admin.TreatmentTypes.show(_._key())}">${_}</a></li>
                        #{/list}
                    </ul>
                #{/crud.custom}

            #{/crud.table}
        </div>

        <div id="crudListPagination">
            #{crud.pagination /}
        </div>    
    #{/if}
    #{else}
        <center>
            <blockquote>
                <h3 class="muted">Халепа :(</h3>
                <p>Ого, &{'crud.list.empty'}! </p>
                <small>Спробуйте <cite title="">
                    %{ def obj = 'objects.'  + type.name.toLowerCase() }%
                    <a href="${type.blankAction}" class="btn btn-mini btn-primary">додати</a> обєкт "&{obj}"
                </cite></small>
            </blockquote>
        </center>
    #{/else}
</div>