#{stylesheet 'tags-survey-analyses-edit-tab.css'/}

<script>
    #{include '/public/javascripts/tags-survey-analyses-edit-tab.js'/}
</script>


<div id="analyses-info">
	#{if surveyAnalyses != null && !surveyAnalyses.isEmpty()}
		#{list items:surveyAnalyses, as:'surveyAnalysis'}
			<div class="analysis">
				<div class="analysisName">${surveyAnalysis.analysisNorm.analysis.analysisName}</div>
				<input class="analysis-norm-checked" type="text" value="${surveyAnalysis.isChecked}" size="3"/>
				<input class="analysis-checkbox" type="checkbox">
				<div class="analysisDescription">
					<input class="analysis-norm-id" type="text" value="${surveyAnalysis.analysisNorm.analysisNormId}" size="3"/>
					#{if surveyAnalysis.analysisNorm.analysis.analysisType.name() == 'DROPDOWN'}
			   			#{select 'analysisNorms', class:"analysisNormsSelect"}
							#{list items:surveyAnalysis.analysisNorm.analysis.analysisNorms, as:'analysisNorm'}
								#{option analysisNorm.analysisNormId}
									${analysisNorm.description}
									#{if analysisNorm.minValue == null && analysisNorm.maxValue != null}
										&{'<'}
										${analysisNorm.maxValue}
									#{/if}
									#{elseif analysisNorm.minValue != null && analysisNorm.maxValue == null}
										&{'>'}
										${analysisNorm.minValue}
									#{/elseif}
									#{elseif analysisNorm.minValue != null && analysisNorm.maxValue != null}
										${analysisNorm.minValue}
										&{'-'}
										${analysisNorm.maxValue}
									#{/elseif}
									${analysisNorm.unit}
								#{/option}
			    			#{/list}
						#{/select}
						<input class="analysis-description" type="text" value="${surveyAnalysis.description}" disabled="disabled" name="">
					#{/if}
					#{elseif surveyAnalysis.analysisNorm.analysis.analysisType.name() == 'DESCRIPTION'}
   						<input class="analysis-description" type="text" value="${surveyAnalysis.description}" disabled="disabled" name="${surveyAnalysis.analysisNorm.analysisNormId}">
   					#{/elseif}
				</div>
			</div>
		#{/list}
		<div class="editButtonDiv">
			<input type="submit" class="editButton" onclick="updateAnalyses()" id="editButton" value="&{'save'}">
		</div>
	#{/if}
</div>