#{stylesheet 'tags-survey-analyses-add-tab.css'/}

<script>
    #{include '/public/javascripts/tags-survey-analyses-add-tab.js'/}
</script>


<div id="analyses-info">
%{	
analysesBySyndrome = syndrome != null ? models.Analysis.find("bySyndrome", syndrome).fetch() : null;
}%
#{if analysesBySyndrome != null && !analysesBySyndrome.isEmpty()}
	#{list items:analysesBySyndrome, as:'analysis'}
	<div class="analysis">
		<div class="analysisName">${analysis.analysisName}</div>
		<input class="analysis-checkbox" type="checkbox">
		<div class="analysisDescription">
			#{if analysis.analysisType.name() == 'DROPDOWN'}
	   			#{select 'analysisNorms', class:"analysisNormsSelect"}
					#{list items:analysis.analysisNorms, as:'analysisNorm'}
						#{option analysisNorm.analysisNormId}
							${analysisNorm.description}
							#{if analysisNorm.minValue == null && analysisNorm.maxValue != null}
								&{'<'}
								${analysisNorm.maxValue}
							#{/if}
							#{elseif analysisNorm.minValue != null && analysisNorm.maxValue == null}
								&{'>'}
								${analysisNorm.minValue}
							#{/elseif}
							#{elseif analysisNorm.minValue != null && analysisNorm.maxValue != null}
								${analysisNorm.minValue}
								&{'-'}
								${analysisNorm.maxValue}
							#{/elseif}
							${analysisNorm.unit}
						#{/option}
	    			#{/list}
				#{/select}
				<input class="analysis-description" type="text" value="" disabled="disabled" name="">
			#{/if}
			#{elseif analysis.analysisType.name() == 'DESCRIPTION'}
				%{
					analysisNorm = analysis.analysisNorms.get(0);
				}%
   				<input class="analysis-description" type="text" value="" disabled="disabled" name="${analysisNorm.analysisNormId}">
   			#{/elseif}
   			
   			
			<div class="analysis-pop-up">
				#{list items:analysis.analysisSubTypes, as:'analysisSubType'}
					<div class="analysis-sub-type">
						<div class="analysis-sub-type-name">${analysisSubType.analysisSubTypeName}</div>
						#{list items:analysisSubType.analysisDetails, as:'analysisDetail'}
							<div class="analysis-sub-type-detail">
								<div class="analysis-sub-type-detail-name">${analysisDetail.analysisDetailName}</div>
								<input class="analysis-checkbox" type="checkbox">
							</div>
						#{/list}
					</div>
				#{/list}	
			</div>
		</div>
	</div>
	#{/list}
	<div class="editButtonDiv">
		<input type="submit" class="editButton" onclick="saveAnalyses();" id="editAnalysesButton" value="&{'save'}">
	</div>
#{/if}
</div>