#{stylesheet 'tags-survey-analyses-show-tab.css'/}

<div id="analyses-info">
	#{if surveyAnalyses != null}
		#{list items:surveyAnalyses, as:'surveyAnalysis'}
			<div id="surveyAnalysis">
				<div class="analysisName">${surveyAnalysis.analysisNorm.analysis.analysisName}</div>
				<div class="analysisDescriptionArea">
					<div class="analysisNormDescription">${surveyAnalysis.analysisNorm.description}</div>
					<input class="analysis-description" type="text" value="${surveyAnalysis.description}" disabled="disabled">
				</div>
			</div>
		#{/list}
	#{/if}
</div>