#{stylesheet 'tags-survey-charts.css'/}

<script>
    #{include '/public/javascripts/tags-survey-charts.js'/}
</script>


<div class="editButtonDiv">
	<input id="difficulty-degree-button" class="editButton" value="&{'chart.difficultyDegree'}" type="button">
	<input id="insufficiency-degree-button" class="editButton" value="&{'chart.insufficiencyDegree'}" type="button">
</div>
<div id="charts">
	<div id="difficulty-degree-chart" class="chart"></div>
	<div id="insufficiency-degree-chart" class="chart"></div>
</div>