#{stylesheet 'tags-survey-clinics-edit-tab.css'/}

<script>
    #{include '/public/javascripts/tags-survey-clinics-edit-tab.js'/}
</script>


<div id="clinics-info">
	#{if contentMap != null && !contentMap.isEmpty()}
		#{list items:contentMap.keySet(), as:'surveyClinicalManifestationComplaint'}
			<div class="clinic">
				<div class="clinicsName">${surveyClinicalManifestationComplaint.clinicalManifestationComplainName}</div>
				<div class="clinicDescriptionArea">
					#{list items:contentMap.get(surveyClinicalManifestationComplaint), as:'surveyClinicalManifestation'}
						<div class="clinicsDescription">
							<input class="clinic-norm-checked" type="text" value="${surveyClinicalManifestation.isChecked}" name="${surveyClinicalManifestation.clinicalManifestationNorm.id}" style="display: none;"/>
							<input class="clinics-checkbox" type="checkbox">
							<div class="clinicalManifestationName">${surveyClinicalManifestation.clinicalManifestationNorm.clinicalManifestation.name}</div>
							#{if surveyClinicalManifestation.clinicalManifestationNorm.clinicalManifestation.clinicalManifestationType.name() == 'DROPDOWN'}
					   			#{select 'clinicalManifestationNorms', class:"clinicsSelect"}
									#{list items:surveyClinicalManifestation.clinicalManifestationNorm.clinicalManifestation.clinicalManifestationNorms, as:'clinicalManifestationNorm'}
										#{option clinicalManifestationNorm.id}
											${clinicalManifestationNorm.description}
										#{/option}
					    			#{/list}
								#{/select}
							#{/if}
						</div>
					#{/list}
				</div>
			</div>
		#{/list}
		<div class="editButtonDiv">
			<input type="submit" class="editButton" onclick="updateClinicalManifestations()" id="editButton" value="&{'save'}">
		</div>
	#{/if}
</div>