#{stylesheet 'tags-survey-clinics-show-tab.css'/}

<div id="clinics-info">
	#{if contentMap != null && !contentMap.isEmpty()}
		#{list items:contentMap.keySet(), as:'surveyClinicalManifestationComplaint'}
			<div class="clinics">
				<div class="clinicsName">${surveyClinicalManifestationComplaint.clinicalManifestationComplainName}</div>
				#{list items:contentMap.get(surveyClinicalManifestationComplaint), as:'surveyClinicalManifestation'}
					<div class="clinicsDescription_${surveyClinicalManifestation_parity}">
						#{if surveyClinicalManifestation.isChecked}
							<div class="surveyClinicalManifestationName">${surveyClinicalManifestation.clinicalManifestationNorm.clinicalManifestation.name}</div>
							<div class="surveyClinicalManifestationValue">${surveyClinicalManifestation.clinicalManifestationNorm.description}</div>
						#{/if}
					</div>
				#{/list}
			</div>
		#{/list}
	#{/if}
</div>