#{stylesheet 'tags-survey-complaints-edit-tab.css'/}

<script>
    #{include '/public/javascripts/tags-survey-complaints-edit-tab.js'/}
</script>


<div id="survey-info">
	#{if contentMap != null && !contentMap.isEmpty()}
		#{list items:contentMap.keySet(), as:'complaintTypeName'}
			<div class="complaintTypeName">${complaintTypeName}</div>
			<ul>
				#{list items:contentMap.get(complaintTypeName), as:'surveyAnswer'}
					<li class="complaint-item">
						<div class="complaintName">${surveyAnswer.complaint.complaintName}</div>
						<div class="answerValue">
							<div class="radio">
						        <input class="radio-button" type="radio" id="radio_${surveyAnswer.complaint.complaintId}_0" name="${surveyAnswer.complaint.complaintId}" value="0"/>
						        <label for="radio_${surveyAnswer.complaint.complaintId}_0" class="surveyAnswerBtn">0</label>
						        <input class="radio-button" type="radio" id="radio_${surveyAnswer.complaint.complaintId}_1" name="${surveyAnswer.complaint.complaintId}" value="1"/>
						        <label for="radio_${surveyAnswer.complaint.complaintId}_1" class="surveyAnswerBtn">1</label>
						        <input class="radio-button" type="radio" id="radio_${surveyAnswer.complaint.complaintId}_2" name="${surveyAnswer.complaint.complaintId}" value="2"/>
						        <label for="radio_${surveyAnswer.complaint.complaintId}_2" class="surveyAnswerBtn">2</label>
						        <input class="radio-button" type="radio" id="radio_${surveyAnswer.complaint.complaintId}_3" name="${surveyAnswer.complaint.complaintId}" value="3"/>
						        <label for="radio_${surveyAnswer.complaint.complaintId}_3" class="surveyAnswerBtn">3</label>
			   				</div>
				    		<input class="survey-answer-value" type="text" value="${surveyAnswer.answerValue}" size="3" style="visibility: hidden;"/>
				    		<input class="survey-answer-id" type="text" value="${surveyAnswer.surveyAnswerId}" size="3" style="visibility: hidden;"/>
			    		</div>
					</li>
				#{/list}
			</ul>
		#{/list}
		<div class="editButtonDiv">
			<input type="submit" class="editButton" onclick="updateComplaints()" id="editButton" value="&{'save'}">
		</div>
	#{/if}
	#{else}
		Got empty content map.
	#{/else}
</div>