#{stylesheet 'tags-survey-complaints-show-tab.css'/}

<script>
    #{include '/public/javascripts/tags-survey-complaints-show-tab.js'/}
</script>


<div id="survey-info">
	#{if contentMap != null}
		#{list items:contentMap.keySet(), as:'comaplaintType'}
			<div class="complaintTypeName">
				${comaplaintType.complaintTypeName}
				<div class="complaint-type-value"></div>
				<input class="hidden-complaint-type-value" type="text" value="${comaplaintType.complaints.size()}" >
			</div>
			<ul>
				#{list items:contentMap.get(comaplaintType), as:'surveyAnswer'}
					<li>
						<div class="complaintName">${surveyAnswer.complaint.complaintName}</div>
						<div class="answerValue">${surveyAnswer.answerValue}</div>
					</li>
				#{/list}
			</ul>
		#{/list}
	#{/if}
</div>