#{stylesheet 'tags-survey-complaints-add-tab.css'/}

<script>
    #{include '/public/javascripts/tags-survey-complaints-add-tab.js'/}
</script>


<div id="survey-info">
	#{if syndrome != null}
		#{list items: models.ComplaintType.find("bySyndrome", syndrome).fetch(), as:'complaintType'}
			<div class="complaintTypeName">${complaintType.complaintTypeName}</div>
			<ul>
 			#{list items:models.Complaint.find("byComplaintType", complaintType).fetch(), as:'complaint'}
	    		<li class="complaint-item">
	    			<div class="complaintName">${complaint.complaintName}</div>
					<div class="answerValue">
						<div class="radio">
					        <input class="radio-button" type="radio" id="radio_${complaint.complaintId}_0" name="${complaint.complaintId}" value="0" checked="checked"/>
					        <label for="radio_${complaint.complaintId}_0" class="surveyAnswerBtn">0</label>
					        <input class="radio-button" type="radio" id="radio_${complaint.complaintId}_1" name="${complaint.complaintId}" value="1"/>
					        <label for="radio_${complaint.complaintId}_1" class="surveyAnswerBtn">1</label>
					        <input class="radio-button" type="radio" id="radio_${complaint.complaintId}_2" name="${complaint.complaintId}" value="2"/>
					        <label for="radio_${complaint.complaintId}_2" class="surveyAnswerBtn">2</label>
					        <input class="radio-button" type="radio" id="radio_${complaint.complaintId}_3" name="${complaint.complaintId}" value="3"/>
					        <label for="radio_${complaint.complaintId}_3" class="surveyAnswerBtn">3</label>
		   				</div>
					</div>
 	    		</li>
	    	#{/list}
	    	</ul>
 		#{/list}
 		<div class="editButtonDiv">
 			<input type="submit" class="editButton" onclick="saveComplaints()" id="editComplaintButton" value="&{'save'}">
		</div>
	#{/if}
</div>