#{stylesheet 'tags-survey-nosology-add-tab.css'/}

<script>
    #{include '/public/javascripts/tags-survey-nosology-add-tab.js'/}
</script>


<div id="nosology-info">
	#{if syndrome != null}
		<div class="nosology">
			<div class="nosologyName">&{'survey.nosology'}</div>
			<div class="nosologyDescription">
				#{select 'nosologies', class:"nosologiesSelect"}
					#{option 0} &{'select.nosology'} #{/option}
					#{list items:models.Nosology.find("bySyndrome", syndrome).fetch(), as:'nosology'}
						#{option nosology.nosologyId}
							${nosology.nosologyName}
						#{/option}
			   		#{/list}
				#{/select}
			</div>
		</div>		
		<div class="editButtonDiv">
			<input type="submit" class="editButton" onclick="saveNosology();" id="editAnalysesButton" value="&{'save'}">
		</div>
	#{/if}
</div>