#{stylesheet 'tags-survey-treatments-show-tab.css'/}

<script>
    #{include '/public/javascripts/tags-survey-treatments-show-tab.js'/}
</script>


<div id="treatments-info">
	#{if surveyTreatments != null}
		#{list items:surveyTreatments, as:'surveyTreatment'}
			<div class="treatmentTypeName">${surveyTreatment.medicationDetail.medication.treatmentType.treatmentTypeName}</div>
			<ul>
				<li>
					<div class="medicationName">${surveyTreatment.medicationDetail.medication.medicationName}</div>
					<ul>
						<li>
							<div class="treatments">
								<div class="medicationDetailName">${surveyTreatment.medicationDetail.medicationDetailName}</div>
								<div>
								#{if surveyTreatment.insertion != null}
									<label>&{'treatment.insertion'}</label>
									<textarea class="insertionInput" disabled="disabled">${surveyTreatment.insertion.insertionName}</textarea>
								#{/if}
								#{if surveyTreatment.allergen != null}
									<label>&{'treatment.allergen'}</label>
									<textarea class="insertionInput" disabled="disabled">${surveyTreatment.allergen.allergenName}</textarea>
								#{/if}
								#{if surveyTreatment.therapyType != null}
									<label>&{'therapy.type'}</label>
									<textarea class="therapy-type" disabled="disabled">${surveyTreatment.therapyType.name() == 'BASIC' ? messages.get('therapy.type.basic') : surveyTreatment.therapyType.name() == 'SUPPORTING' ? messages.get('therapy.type.supporting') : messages.get('select.therapy.type')}</textarea>
								#{/if}
								#{if surveyTreatment.treatmentDescription != null && !surveyTreatment.treatmentDescription.isEmpty()}
									<label>&{'treatment.description'}</label>
									<textarea class="treatment-description" disabled="disabled">${surveyTreatment.treatmentDescription}</textarea>
								#{/if}
								#{if surveyTreatment.multiplicity != null && !surveyTreatment.multiplicity.isEmpty()}
									<label>&{'treatment.multiplicity'}</label>
									<textarea class="treatment-multiplicity" disabled="disabled">${surveyTreatment.multiplicity}</textarea>
								#{/if}
								#{if surveyTreatment.dose != null && !surveyTreatment.dose.isEmpty()}
									<label>&{'treatment.dose'}</label>
									<textarea class="treatment-dose" disabled="disabled">${surveyTreatment.dose}</textarea>
								#{/if}
								</div>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		#{/list} 
	#{/if} 
</div>