#{stylesheet 'tags-survey-treatments-edit-tab.css'/}

<script>
    #{include '/public/javascripts/tags-survey-treatments-edit-tab.js'/}
</script>


<div id="treatments-info">
	#{if surveyTreatments != null && !surveyTreatments.isEmpty()}
		#{list items:surveyTreatments, as:'surveyTreatment'}
			<div class="treatmentTypeName">${surveyTreatment.medicationDetail.medication.treatmentType.treatmentTypeName}</div>
			<ul>
				<li>
					<div class="medicationName">${surveyTreatment.medicationDetail.medication.medicationName}</div>
					<ul>
						<li>
    						<div class="treatments saved-treatments">
								<div class="medicationDetailName">${surveyTreatment.medicationDetail.medicationDetailName}</div>
								<div>
									<input class="treatment-checkbox" value="${surveyTreatment.medicationDetail.medicationDetailId}" type="checkbox" checked="checked">
									#{if surveyTreatment.insertion != null}
										<input class="hidden-insertion-id" value="${surveyTreatment.insertion.insertionId}" type="text">
									#{/if}
									#{if surveyTreatment.allergen != null}
										<input class="hidden-allergen-id" value="${surveyTreatment.allergen.allergenId}" type="text">
									#{/if}
							    	<div id="selectInsertionBlock">
							    		#{if surveyTreatment.medicationDetail.insertions != null && !surveyTreatment.medicationDetail.insertions.isEmpty()}
											#{select 'insertions', items:surveyTreatment.medicationDetail.insertions, valueProperty:'insertionId', labelProperty:'insertionName', value:0, class:'insertion-select'}
												#{option 0} &{'select.insertion'} #{/option}
											#{/select}
							    		#{/if}
									</div>
									<div id="selectInsertionBlock">
							    		#{if surveyTreatment.medicationDetail.allergens != null && !surveyTreatment.medicationDetail.allergens.isEmpty()}
											#{select 'allergens', items:surveyTreatment.medicationDetail.allergens, valueProperty:'allergenId', labelProperty:'allergenName', value:0, class:'allergen-select'}
												#{option 0} &{'select.allergen'} #{/option}
											#{/select}
							    		#{/if}
									</div>
									<div id="selectTherapyTypeBlock">
										#{if surveyTreatment.medicationDetail.medication.treatmentType.hasTherapyType}
											#{if surveyTreatment.therapyType != null}
												<input class="hidden-therapy-type" value="${surveyTreatment.therapyType.name()}" type="text">
											#{/if}
											#{select 'therapy-type', class:'therapy-type-select'}
												#{option '0'}&{'select.therapy.type'}#{/option}
												#{option 'BASIC'}&{'therapy.type.basic'}#{/option}
												#{option 'SUPPORTING'}&{'therapy.type.supporting'}#{/option}
											#{/select}
										#{/if}
									</div>
									
									<div style="margin: 6px 0px 4px 390px">
										<label>&{'treatment.multiplicity'}</label>
										<textarea class="treatment-multiplicity">${surveyTreatment.multiplicity}</textarea>
										<label>&{'treatment.dose'}</label>
										<textarea class="treatment-dose">${surveyTreatment.dose}</textarea>
										<label>&{'treatment.description'}</label>
										<textarea class="treatment-description">${surveyTreatment.treatmentDescription}</textarea>
									</div>
								</div>
							</div>
				 		</li>
					</ul>
				</li>
			</ul>
		#{/list}
	#{/if}
	#{if syndrome != null}
		#{list items: models.TreatmentType.find("bySyndrome", syndrome).fetch(), as:'treatmentType'}
			<h3 class="treatmentTypeName">${treatmentType.treatmentTypeName}</h3>
			<div>
	 			#{list items:models.Medication.find("byTreatmentType", treatmentType).fetch(), as:'medication'}
	    			<div class="medicationName">${medication.medicationName}</div>
	   				%{
	   					medicationDetailsList = models.MedicationDetail.find("byMedication", medication).fetch();
	   					medicationDetailsList.removeAll(medicationDetails);
	   				}%
	 				#{list items: medicationDetailsList, as:'medicationDetail'}
		    			<div class="treatments">
			    			<div class="medicationDetailName">${medicationDetail.medicationDetailName}</div>
			    			<div>
								<input class="treatment-checkbox" value="${medicationDetail.medicationDetailId}" type="checkbox">
				    			<div id="selectInsertionBlock">
				    				#{if medicationDetail.insertions != null && !medicationDetail.insertions.isEmpty()}
										#{select 'insertions', items:medicationDetail.insertions, valueProperty:'insertionId', labelProperty:'insertionName', value:0, class:'insertion-select'}
											#{option 0} &{'select.insertion'} #{/option}
										#{/select}
				    				#{/if}
								</div>
								<div id="selectTherapyTypeBlock">
									#{if treatmentType.hasTherapyType} 
										#{select 'therapy-type', class:'therapy-type-select'}
											#{option '0'}&{'select.therapy.type'}#{/option}
											#{option 'BASIC'}&{'therapy.type.basic'}#{/option}
											#{option 'SUPPORTING'}&{'therapy.type.supporting'}#{/option}
										#{/select}
									#{/if}				
								</div>
								<div id="selectAllergenBlock">
				    				#{if medicationDetail.allergens != null && !medicationDetail.allergens.isEmpty()}
										#{select 'allergens', items:medicationDetail.allergens, valueProperty:'allergenId', labelProperty:'allergenName', value:0, class:'allergen-select'}
											#{option 0} &{'select.allergen'} #{/option}
										#{/select}
				    				#{/if}
								</div>
								<div style="margin: 6px 0px 4px 390px">
									<label>&{'treatment.description'}</label>
									<textarea class="treatment-description"></textarea>
									<label>&{'treatment.multiplicity'}</label>
									<textarea class="treatment-multiplicity"></textarea>
									<label>&{'treatment.dose'}</label>
									<textarea class="treatment-dose"></textarea>
								</div>
							</div>
		    			</div>
		 	   		#{/list}
		    	#{/list}
	    	</div>
	 	#{/list}
	#{/if}
	<div class="editButtonDiv">
		<input type="submit" class="editButton" onclick="updateTreatments()" id="editButton" value="&{'save'}">
	</div>
</div>