#{stylesheet 'tags-survey-treatments-add-tab.css'/}

<script>
    #{include '/public/javascripts/tags-survey-treatments-add-tab.js'/}
</script>


<div id="treatment-info">
	#{if syndrome != null}
		#{list items: models.TreatmentType.find("bySyndrome", syndrome).fetch(), as:'treatmentType'}
			<!-- <div class="treatmentTypeName"></div> -->
			<h3 class="treatmentTypeName">${treatmentType.treatmentTypeName}</h3>
			<div>
	 			#{list items:models.Medication.find("byTreatmentType", treatmentType).fetch(), as:'medication'}
	    			<div class="medicationName">${medication.medicationName}</div>
	 				#{list items:models.MedicationDetail.find("byMedication", medication).fetch(), as:'medicationDetail'}
		    			<div class="treatments">
			    			<div class="medicationDetailName">${medicationDetail.medicationDetailName}</div>
							<div>
								<input class="treatment-checkbox" value="${medicationDetail.medicationDetailId}" type="checkbox">
				    			<div id="selectInsertionBlock">
				    				#{if medicationDetail.insertions != null && !medicationDetail.insertions.isEmpty()}
										#{select 'insertions', items:medicationDetail.insertions, valueProperty:'insertionId', labelProperty:'insertionName', value:0, class:'insertion-select'}
											#{option 0} &{'select.insertion'} #{/option}
										#{/select}
				    				#{/if}
								</div>
								<div id="selectTherapyTypeBlock">
									#{if treatmentType.hasTherapyType} 
										#{select 'therapy-type', class:'therapy-type-select'}
											#{option '0'}&{'select.therapy.type'}#{/option}
											#{option 'BASIC'}&{'therapy.type.basic'}#{/option}
											#{option 'SUPPORTING'}&{'therapy.type.supporting'}#{/option}
										#{/select}
									#{/if}				
								</div>
								<div id="selectAllergenBlock">
				    				#{if medicationDetail.allergens != null && !medicationDetail.allergens.isEmpty()}
										#{select 'allergens', items:medicationDetail.allergens, valueProperty:'allergenId', labelProperty:'allergenName', value:0, class:'allergen-select'}
											#{option 0} &{'select.allergen'} #{/option}
										#{/select}
				    				#{/if}
								</div>
							</div>
							<div style="margin: 6px 0px 4px 390px">
								<label>&{'treatment.description'}</label>
								<textarea class="treatment-description"></textarea>
								<label>&{'treatment.multiplicity'}</label>
								<textarea class="treatment-multiplicity"></textarea>
								<label>&{'treatment.dose'}</label>
								<textarea class="treatment-dose"></textarea>
							</div>
		    			</div>
		 	   		#{/list}
		    	#{/list}
	    	</div>
	 	#{/list}
	#{/if}
	<div class="editButtonDiv">
		<input type="submit" class="editButton" onclick="saveTreatments();" id="editAnalysesButton" value="&{'save'}">
	</div>
</div>