
.clinics {
	display: table;
	position: relative;
	width: 100%;
	margin: 0px 0px 5px 0px;
	background-color: #E1EEF4;
}

.clinicsName {
	background-color: #2191C0;
    color: #FFFFFF;
    font-weight: bold;
    padding: 4px 10px;
    width: 300px;
    text-align: right;
    float: left;
}

.clinicsSelect {
	float: left;
	width: 250px;
}

.clinicsDescription {
    color: #00557F;
    text-align: center;
    width: 100%;
    display: table;
    vertical-align: middle;
}

.editButtonDiv {
	display: table;
    height: 25px;
    position: relative;
    width: 100%;
}

.answerValue input {
	margin: 0px;
}

.complaintName {
    margin-top: 2px;
	float: left;
    color: #00557F;
    padding: 2px 0px 2px 4px;
    width: 48%;
}

.clinics-checkbox {
	float: left;
	margin-top: 6px;
}

.clinicalManifestationName {
	float: left;
	width: 320px;
}

.clinicDescriptionArea {
	display: table;
	margin: 5px 5px 5px 350px;
	line-height: 25px;
}
