
#surveyList {
	background: #E2EDEF;
	border-radius: 10px;
	margin-left: 30%;
	width: 400px;
	padding: 10px;
}

#surveyRow {
	margin: 0px 0px 10px 0px;
}

#surveyRow a {
	margin: 0px 0px 0px 10px;
	float: right;
}

#surveySize {
	font: bold 13px Arial;
}

#surveyAdd {
	display: inline;
	float: right;
	margin: 0px;
}

#surveyAdd a, .surveyShow {
	background: #54BD06;
	padding: 3px 10px;
	font: normal 12px Arial;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: white !important;
	text-decoration: none;
}

#surveyAdd a:hover, #surveyRow a:hover {
	opacity: .8;
}

.surveyDelete {
	background: #C00;
	padding: 3px 10px;
	font: normal 12px Arial;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: white !important;
	text-decoration: none;
}

#object_otherInfo {
	width: 420px;
	padding: 0px;
}
