
.analysis {
	display: table;
	position: relative;
	width: 100%;
	margin: 0px 0px 5px 0px;
	background-color: #E1EEF4;
}

.analysisName {
	background-color: #2191C0;
    color: #FFFFFF;
    font-weight: bold;
    padding: 4px 10px;
    width: 300px;
    text-align: right;
    float: left;
}

.analysisNormsSelect {
	width: 250px;
	font-size: 12px !important;
	font-family: 'Helvetica', 'Arial', 'Sans' !important;
}

.analysisDescription {
    color: #00557F;
    text-align: center;
    width: 60%;
    display: table-cell;
    vertical-align: middle;
}

.editButtonDiv {
	display: table;
    height: 25px;
    position: relative;
    width: 100%;
}

.analysis-pop-up {
	visibility: hidden;
}

.analysis-description {
	border-width: 1px;
    float: right;
    font-family: 'Helvetica','Arial','Sans' !important;
    font-size: 12px !important;
    margin-right: 40px;
    padding: 1px;
    width: 200px;
}
