#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.title') /}

%{
    models = [];
    for(controllerClass in play.Play.classloader.getAssignableClasses(_('controllers.CRUD'))) {
        resourceModel = _('controllers.CRUD$ObjectType').get(controllerClass)
        if(resourceModel != null) {
            models.add(resourceModel)
        }
    }
    for(controllerClass in play.Play.classloader.getAssignableClasses(_('play.scalasupport.crud.CRUDWrapper'))) {
        resourceModel = _('controllers.CRUD$ObjectType').get(controllerClass)
        if(resourceModel != null) {
            models.add(resourceModel)
        }
    }
    java.util.Collections.sort(models)
}%

%{ attrs = [:];
   models.eachWithIndex() { item, i -> }%
    %{
        
        attrs.put(item.toString(), item)
    }%
%{ } }%

#{set 'custom'}true!#{/set}

<div id="index" class="">
    <div class="hero-unit">
        <div class="well">
		    		
		    <p> 
		    	#{admin.search /}
		    </p>   
            <h2>&{'crud.index.title'}</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.

            </p>
            <a href="@{admin.MainController.oldIndex()}" class="btn btn-primary pull-right">Link to <i>Classic</i> page</a>
        </div>
    <!-- </div> -->
            <div class="row">
	    
                #{ admin.block title:'patients' }
                    #{admin.mini type: attrs.get('Patient') /}
                    #{admin.mini type: attrs.get('User') /}
                    #{admin.mini type: attrs.get('Role') /}
                #{/admin.block }

                #{ admin.block title:'clinicalmanifestations' }
                    #{admin.mini type: attrs.get('ClinicalManifestation') /}
                    #{admin.mini type: attrs.get('ClinicalManifestationComplaint') /}
                    #{admin.mini type: attrs.get('ClinicalManifestationNorm') /}
                #{/admin.block }

                #{ admin.block title:'insertions' }
                    #{admin.mini type: attrs.get('Insertion') /}
                    #{admin.mini type: attrs.get('Medication') /}
                    #{admin.mini type: attrs.get('MedicationDetail') /}
                #{/admin.block }
            </div>
            <div class="row">            
                #{ admin.block title:'medicinecards' }
                    #{admin.mini type: attrs.get('MedicineCard') /}
                    #{admin.mini type: attrs.get('MedicineCardAnamnesis') /}
                    #{admin.mini type: attrs.get('MedicineCardAnamnesisDisease') /}
                    #{admin.mini type: attrs.get('MedicineCardNosology') /}
                #{/admin.block }

                #{ admin.block title:'surveys' }
                    #{admin.mini type: attrs.get('Survey') /}
                    #{admin.mini type: attrs.get('SurveyAnalysis') /}
                    #{admin.mini type: attrs.get('SurveyAnswer') /}
                    #{admin.mini type: attrs.get('SurveyClinicalManifestation') /}
                    #{admin.mini type: attrs.get('SurveyTreatment') /}
                #{/admin.block }

                #{ admin.block title:'anamnesiss' }
                    #{admin.mini type: attrs.get('Anamnesis') /}
                    #{admin.mini type: attrs.get('AnamnesisDetail') /}
                    #{admin.mini type: attrs.get('AnamnesisDetailValue') /}
                    #{admin.mini type: attrs.get('AnamnesisDisease') /}
                    #{admin.mini type: attrs.get('AnamnesisDiseaseDetail') /}
                #{/admin.block }

            </div>
            <div class="row">
                #{ admin.block title:'nosologyanalysiss' }
                    #{admin.mini type: attrs.get('NosologyAnalysis') /}
                    #{admin.mini type: attrs.get('NosologyClinicalManifestation') /}
                    #{admin.mini type: attrs.get('NosologyComplaintType') /}
                #{/admin.block }

                #{ admin.block title:'nosologys' }
                    #{admin.mini type: attrs.get('Nosology') /}
                    #{admin.mini type: attrs.get('SurveyObject') /}
                    #{admin.mini type: attrs.get('Syndrome') /}
                    #{admin.mini type: attrs.get('TreatmentType') /}
                #{/admin.block }
                #{ admin.block title:'analysiss', span:4}
                    #{admin.mini type: attrs.get('Analysis') /}
                    #{admin.mini type: attrs.get('AnalysisDetail') /}
                    #{admin.mini type: attrs.get('AnalysisNorm') /}
                    #{admin.mini type: attrs.get('AnalysisSubType') /}
                #{/admin.block }
            </div>
            <div class="row">
                #{ admin.block title:'allergens', span:4}
                    #{admin.mini type: attrs.get('Allergen') /}
                #{/admin.block }
                
                #{ admin.block title:'complaints', span:4}
                    #{admin.mini type: attrs.get('Complaint') /}
                    #{admin.mini type: attrs.get('ComplaintType') /}
                #{/admin.block }
            </div>
               
        </div>
        #{set 'moreSideBars'}
            <div class="counters">
             	%{ 
                   def all_count = 0;
                }%
                
                
                #{admin.block span:11, title: 'counters'}
                     #{crud.types}
	                     %{ 
	                        def count = type.count(null, '', '1=1');
	                        all_count += count;
	                        def label = count != 0 ? 'label-info' : 'label-warning'; 
	                     }%
	                     <blockquote>
	                        <p>
	                            <span class="label ${label}" > ${count}</span>
	                            <a href="${type.listAction}"> &{'objects.' + type.name.toLowerCase()}</a>
	                        </p>
	                    </blockquote>
                    #{/crud.types}
                    
                    <blockquote>
                        <p><span class="label label-info" > ${all_count}</span></p>
                    </blockquote>
                #{/admin.block}
            </div>
        #{/set}
    </div>
