#{extends 'CRUD/layout.html' /}
#{set title:messages.get('objects.clinicalmanifestations') /}

<script>
$(document).ready(function() {
	$("tbody tr").each(function() {
		$(this).removeClass("odd").removeClass("even");
		$(this).find("td").each(function() {
			var link = $(this).find('.hiddenLinks').text();
			$(this).click(function() {
				$(location).attr("href", link);
			});
			$(this).hover(
			  function () {
			    $(this).addClass("hover");
			  },
			  function () {
			    $(this).removeClass("hover");
			  });
		});	
	});
});
</script>

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'objects.clinicalmanifestations'}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['name', 'clinicalManifestationType'] }
           #{crud.custom 'clinicalManifestationName'}
           	  <span class="hiddenLinks">@{ClinicalManifestations.show(object.id)}</span>
		      ${object.anamnesisName}
		   #{/crud.custom}
           #{crud.custom 'clinicalManifestationType'}
           	  <span class="hiddenLinks">@{ClinicalManifestations.show(object.id)}</span>
		      ${object.clinicalManifestationType}
		   #{/crud.custom}
		#{/ crud.table}
    </div>

    <div id="crudListPagination">
    	&{'total', models.ClinicalManifestation.count()}
        #{pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'clinicalmanifestation.add'}</a>
    </p>

</div>
