#{extends 'CRUD/layout.html' /}
#{set title:messages.get('objects.medicinecardanamnesisdiseases') /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'objects.medicinecardanamnesisdiseases'}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['description', 'value', 'beginDate', 'endDate' , 'firstManifestation','amount'] }
           #{crud.custom 'description'}
           	  <span class="hiddenLinks">@{MedicineCardAnamnesisDiseases.show(object.medicineCardAnamnesisDiseaseId)}</span>
		      ${object.description}
		   #{/crud.custom}
           #{crud.custom 'value'}
           	  <span class="hiddenLinks">@{MedicineCardAnamnesisDiseases.show(object.medicineCardAnamnesisDiseaseId)}</span>
		      ${object.value}
		   #{/crud.custom}
		   #{crud.custom 'beginDate'}
           	  <span class="hiddenLinks">@{MedicineCardAnamnesisDiseases.show(object.medicineCardAnamnesisDiseaseId)}</span>
		      ${object.beginDate.format()}
		   #{/crud.custom}
		   #{crud.custom 'endDate'}
           	  <span class="hiddenLinks">@{MedicineCardAnamnesisDiseases.show(object.medicineCardAnamnesisDiseaseId)}</span>
		      ${object.endDate.format()}
		   #{/crud.custom}
		   #{crud.custom 'firstManifestation'}
           	  <span class="hiddenLinks">@{MedicineCardAnamnesisDiseases.show(object.medicineCardAnamnesisDiseaseId)}</span>
		      ${object.firstManifestation.format()}
		   #{/crud.custom}
		   #{crud.custom 'amount'}
           	  <span class="hiddenLinks">@{MedicineCardAnamnesisDiseases.show(object.medicineCardAnamnesisDiseaseId)}</span>
		      ${object.amount}
		   #{/crud.custom}
		#{/ crud.table}
    </div>

    <div id="crudListPagination">
        &{'total', models.MedicineCardAnamnesisDisease.count()}
        #{pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'medicinecardanamnesisdisease.add'}</a>
    </p>

</div>
