#{extends 'CRUD/layout.html' /}
#{set title:messages.get('complaintTypes') /}

<script>
    #{include '/public/javascripts/complaint-types-list.js'/}
</script>



<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'complaintTypes'}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['complaintTypeName', 'multyplier', 'syndrome', 'nosology', 'complaints'] }
            #{crud.custom 'complaintTypeName'}
                <span class="hiddenLinks">@{admin.ComplaintTypes.show(object.complaintTypeId)}</span>
                ${object.complaintTypeName}
            #{/crud.custom}
            #{crud.custom 'multyplier'}
                <span class="hiddenLinks">@{admin.ComplaintTypes.show(object.complaintTypeId)}</span>
                ${object.multyplier}
            #{/crud.custom}
            #{crud.custom 'syndrome'}
                <span class="hiddenLinks">@{admin.Syndromes.show(object.syndrome.syndromeId)}</span>
                ${object.syndrome.name}
            #{/crud.custom}
        #{/crud.table}
    </div>

    <div id="crudListPagination">
        &{'total', models.ComplaintType.count()}
        #{pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'complaintTypes.add'}</a>
    </p>

</div>
