#{extends 'CRUD/layout.html' /}
#{set title:messages.get('complaintTypes.edit') /}

<div id="crudShow" class="${type.name}">
    #{set 'block-title'}
        &{'complaintTypes.edit'}
    #{/set}

    #{set 'info'}
        edit
    #{/set}

    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data', class:"form-horizontal"}
        #{crud.form fields:['complaintTypeName', 'multyplier', 'complaints'] }
        #{/crud.form}
        
        <div class="form-actions">
           <button type="submit" class="btn btn-primary">&{'crud.save', type.modelName}</button>
           <button type="button" class="btn">&{'crud.cancel', type.modelName} </button>
           <button type="submit" 
                  class="btn btn-danger pull-right" 
                  name="_delete" 
                  onclick="if (confirm('&{'complaintTypes.delete'}')) { $('#deleteObject').submit();} return false;  "
                value="" > &{'complaintTypes.delete'}
            </button> 
        </div>
    #{/form}
    #{form @delete(object._key()), id:"deleteObject", class: "invisible"}#{/form}
    </div>
</div>