<div align="center" class="header">
	<img alt="Immunology" height="80px" src="/public/images/elements/immunologyHeader.png" />
	<div id="lang">
        <a href='@{Application.changeLanguage("uk", request.url)}'>
        	<img border="0" src='/public/images/flags/ua.png' title="Українська" alt="Українська" width="32" height="32"/>
        </a>
        <a href='@{Application.changeLanguage("ru", request.url)}'>
        	<img border="0" src='/public/images/flags/ru.png' title="Русский" alt="Русский" width="32" height="32"/>
        </a>
        <a href='@{Application.changeLanguage("en", request.url)}'>
        	<img border="0" src='/public/images/flags/uk.png' title="English" alt="English" width="32" height="32"/>
        </a>
    </div>
</div>