<ul>
    <li><a href="@{CRUD.index()}">&{'crud.home'}</a></li>
    #{if request.actionMethod != 'index'}
	    #{if _caller.type}
	        <li><span class="divider">/</span> <a href="@{list()}">&{'objects.' + _caller.type.name.toLowerCase()}</a></li>
	    #{/if}
	    #{if _caller.object?._key()}
	        <li><span class="divider">/</span> <a href="@{show(_caller.object._key())}">&{'crud.customEditing'}</a></li>
	    #{/if}
	    #{if request.actionMethod == 'blank' || request.actionMethod == 'create'}
	        <li><span class="divider">/</span> <a href="@{blank()}">&{'crud.blank'}</a></li>
	    #{/if}
    #{/if}
</ul>
