#{stylesheet 'tags-patients-table.css'/}

<script>
    #{include '/public/javascripts/tags-patients-table.js'/}
</script>

<table id="patientsTable">
	<thead>
		<tr>
			<th>&{'patient.abbreviation'}</th>
			<th>&{'gender'}</th>
			<th>&{'birthday'}</th>
			<th>&{'country'}</th>
			<th>&{'city'}</th>
			<th>&{'street'}</th>
			<th>&{'house'}</th>
			<th>&{'flat'}</th>
			<th style="display: none"></th>
			<th style="display: none"></th>
			<th></th>
		</tr>
	</thead>
	<tbody align="center">
		#{list _userPatients, as:'patient'}
		<tr>
			<td align="left" style="width: 160px" class="tableRow">${patient.lastName} ${patient.firstName} ${patient.middleName}</td>
			<td style="width: 55px" class="tableRow">${patient.gender.name() == 'MALE' ? messages.get('gender.male'): messages.get('gender.female')}</td>
			<td style="width: 80px" class="tableRow">${patient.birthday.format()}</td>
   			<td style="width: 55px" class="tableRow">${patient.country}</td>
   			<td style="width: 100px" class="tableRow">${patient.city}</td>
   			<td style="width: 80px" class="tableRow">${patient.street}</td>
   			<td style="width: 30px" class="tableRow">${patient.house}</td>
   			<td style="width: 20px" class="tableRow">${patient.flat}</td>
			<td style="width: 185px" align="center">
				<div class="button_85X13 buttonShow">
	   				<a href="@{PatientView.show(patient.patientId)}" class="showPatientSubmitButton">&{'edit'}</a>
   				</div>
   				<div class="button_85X13 buttonDelete">
  					<a href="#" id="${patient.patientId}" class="deletePatientSubmitButton">&{'delete'}</a>
  				</div>
   			</td>
   			<td style="width: 0px; display: none">${patient.district}</td>
   			<td style="width: 0px; display: none">${patient.region}</td>
		</tr>
		#{/list}
	</tbody>
</table>