#{stylesheet 'tags-surveys-table.css'/}

<script type="text/javascript" >
$(document).ready(function() {
	$('#object_otherInfo').removeAttr('cols');
	
    var deleteSurvey = #{jsAction @admin.Surveys.delete(':id')/}
    $(".surveyDelete").click(function(event) {
        var id = event.target.id;
        $.ajax({
        	url: deleteSurvey({id : id}) + '?x-http-method-override=DELETE',
    	    success:function() {
    	    	location.reload();
    	    },
    	    error:function(request, status, error) {
    	    	alert('Error');
    	    }
    	});
    });
});
</script>

<div id="surveyList">

	#{list items:_surveyList, as:'survey'}
   		<div id="surveyRow">
	   		${survey_index}. &nbsp; ${survey.surveyDate.format()}
   			<a id="&{survey.surveyId}" class="surveyDelete" href="#">&{'delete'}</a>
   			<a href="@{admin.Surveys.show(survey.surveyId)}" class="surveyShow">&{'view'}</a>
   		</div>	
	#{/list}
	
	<div id="surveySize">
	&{_surveyList.isEmpty() ? messages.get('no.surveys') : '<br>' + messages.get('total', _surveyList.size())}
	<p id="surveyAdd">
       	<a href="@{admin.Surveys.blank()}">&{'survey.add'}</a>
  	</p>
	</div>
</div>