#{extends 'CRUD/layout.html' /}
#{set title:messages.get('patient.add') /}
<script>
    #{include '/public/javascripts/patients-blank.js'/}
</script>


<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'patient.add'}</h2>

    <div class="objectForm">
    #{form action:@admin.Patients.savePatientWithCard(), enctype:'multipart/form-data'}
        #{crud.form fields:['lastName', 'firstName', 'middleName', 'gender', 'birthday', 'country', 'region', 'district', 'city', 'street', 'house', 'flat']}
        	#{crud.custom 'gender'}
        	   <label for="${gender}">&{'gender'}</label>
        	   #{select 'object.gender', id:'object_gender', value:object.gender}
					#{option 'MALE'}&{'gender.male'}#{/option}
					#{option 'FEMALE'}&{'gender.female'}#{/option}
				#{/select}
        	#{/crud.custom}
        	
        #{/crud.form}
        
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
            <input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
        </p>
    #{/form}
    </div>

</div>