#{extends 'CRUD/layout.html' /}
#{set title:messages.get('patient.edit.title') /}
<script>
    #{include '/public/javascripts/patients-show.js'/}
</script>


<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'patient.edit.title'}</h2>

    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form fields:['lastName', 'firstName', 'middleName', 'gender', 'birthday', 'country', 'region', 'district', 'city', 'street', 'house', 'flat', 'medicineCard']}
        	#{crud.custom 'gender'}
        	   <label for="${gender}">&{'gender'}</label>
        	   #{select 'object.gender', id:'object_gender', value:object.gender}
					#{option 'MALE'}&{'gender.male'}#{/option}
					#{option 'FEMALE'}&{'gender.female'}#{/option}
				#{/select}
        	#{/crud.custom}
        	#{crud.custom 'medicineCard'}
        	   <label for="${medicineCard}">&{'medicineCard'}</label>
		       <a href="@{admin.MedicineCards.show(object.medicineCard.medicineCardId)}">&{'title.edit'}</a>
        	#{/crud.custom}
        #{/crud.form}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}
    </div>
    #{if session.isUserRole == 'false'}
	    #{form @delete(object._key())}
	        <p class="crudDelete">
	            <input type="submit" value="&{'patient.delete'}" onclick="return confirm('&{'patient.delete'}')"/>
	        </p>
	    #{/form}
	#{/if}

</div>