#{extends 'CRUD/layout.html' /}
#{set title:messages.get('insertion.edit') /}

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'insertion.edit'}</h2>

    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form}
        	#{crud.custom 'medicationDetails'}
        	#{/crud.custom}
        #{/crud.form}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}
    </div>

    #{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="&{'insertion.delete'}" onclick="return confirm('&{'insertion.delete'}')"/>
        </p>
    #{/form}

</div>