#{extends 'main.html' /}
#{set title:messages.get('patient.add') /}

#{stylesheet 'patients_view.css'/}

<script>
    #{include '/public/javascripts/patient-view-add.js'/}
</script>


#{if flash.error || error}
   <div class="crudFlash flashError">
       ${error ?: flash.error}
   </div>
#{/if}
<h2 id="patientTitleContainer">&{'patient.add'}</h2>
<div class="patientInfoContainer">
	#{form action:@savePatientWithCard(), id:'creationForm', enctype:'multipart/form-data' }
		#{field 'patient.lastName'}
			<div class="patientLabelValue">
				<div class="patientLabel">
					<label for="patient_lastName">&{'lastName'}</label>
				</div>
				<div class="patientValue">
					<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
					<span class="requiredField">&{'validation.required'}</span>
				</div>
			</div>
		#{/}
		#{field 'patient.firstName'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_firstName">&{'firstName'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
    			<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.middleName'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_middleName">&{'middleName'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		    	<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.gender'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_gender">&{'gender'}</label>
			</div>
			<div class="patientValue">
				#{select 'patient.gender', id:'patient_gender', value:patient.gender}
					#{option 'MALE'}&{'gender.male'}#{/option}
					#{option 'FEMALE'}&{'gender.female'}#{/option}
				#{/select}
				<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.birthday'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_birthday">&{'birthday'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value?.format()}" class="${field.errorClass}">
		    	<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.country'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_country">&{'country'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		    	<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.region'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_region">&{'region'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
			</div>
		</div>
		#{/}
		#{field 'patient.district'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_district">&{'district'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
			</div>
		</div>
		#{/}
		#{field 'patient.city'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_city">&{'city'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		    	<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.street'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_street">&{'street'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		    	<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.house'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_house">&{'house'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		    	<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.flat'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_flat">&{'flat'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		    	<span class="requiredField">&{'validation.numeric'}</span>
			</div>
		</div>
		#{/}
		<p class="crudButtons">
	         <input type="submit" name="_save" value="&{'crud.save'}" />
	         <a href="@{PatientView.patients()}" class="cancelButton">&{'crud.cancel'}</a>
	    </p>
	#{/form}
</div>