#{extends 'main.html' /}
#{set title:messages.get('patients') /}

#{stylesheet 'patients_view.css'/}

<script>
$(function() {
	$(".patientsSwitcher").each(function() {
		$(this).buttonset();
	});
});
</script>

<div id="patientsTitleContainer">
	<h2 class="listTitle" id="patientsListTitle">&{'patients'}</h2>
	<div class="patientsSwitcher">
        <input class="radio-button" 
        	   type="radio" 
        	   id="userOnly" 
        	   name="switcher" 
        	   value="USERS" 
        	   #{if type == 'USERS'} checked #{/if}
        	   onchange="document.location.href='@{PatientView.updatePatientsTable('USERS')}'"/>
        <label for="userOnly" class="surveyAnswerBtn">&{'patient.userOnly'}</label>
        <input class="radio-button" 
        	   type="radio" 
        	   id="all" 
        	   name="switcher" 
        	   value="ALL" 
        	   #{if type == 'ALL'} checked #{/if}
        	   onchange="document.location.href='@{PatientView.updatePatientsTable('ALL')}'"/>
        <label for="all" class="surveyAnswerBtn">&{'patient.all'}</label>
	</div>
</div>
	#{if flash.success}
		<div class="crudFlash flashSuccess">
			${flash.success}
		</div>
	#{/if} 
	#{if flash.error || error}
		<div class="crudFlash flashError">
			${error ?: flash.error}
		</div>
	#{/if}
<div id="patientAddLink">
  	<a href="@{add()}">&{'patient.add'}</a>
</div>
#{if userPatients.isEmpty()}
	&{'patient.list.isEmpty'}
#{/if}
#{else}
	#{patientsTable userPatients: userPatients /}
#{/else}
