#{extends 'main.html' /}
#{set title:messages.get('patient.edit.title') /}

#{stylesheet 'patient-view-show.css'/}
<script>
    #{include '/public/javascripts/patient-view-show.js'/}
</script>




#{if flash.success}
    <div class="crudFlash flashSuccess">
        ${flash.success}
    </div>
#{/if}
#{if flash.error || error}
   <div class="crudFlash flashError">
       ${error ?: flash.error}
   </div>
#{/if}
<h2 id="patientTitleContainer">${patient.lastName} ${patient.firstName} ${patient.middleName}</h2>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">&{'patient'}</a></li>
		<li><a href="#tabs-2">&{'medicineCard'}</a></li>
		<li><a href="#tabs-3">&{'surveys'}</a></li>
		<li><a href="#tabs-4">&{'charts'}</a></li>
		<li><a href="#tabs-5">Ефективність застосування</a></li>
	</ul>
	<div id="tabs-1">
	#{form action:@updatePatient(), id:'updateForm', enctype:'multipart/form-data' }
		<input id="patient_patientId" type="hidden" name="patient.patientId" value=${patient.patientId}>
		#{field 'patient.lastName'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_lastName">&{'lastName'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
				<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.firstName'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_firstName">&{'firstName'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
    			<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.middleName'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_middleName">&{'middleName'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		    	<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.gender'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_gender">&{'gender'}</label>
			</div>
			<div class="patientValue">
				#{select 'patient.gender', id:'patient_gender', value:patient.gender}
					#{option 'MALE'}&{'gender.male'}#{/option}
					#{option 'FEMALE'}&{'gender.female'}#{/option}
				#{/select}
				<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.birthday'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_birthday">&{'birthday'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value?.format()}" class="${field.errorClass}">
		    	<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.country'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_country">&{'country'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		    	<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.region'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_region">&{'region'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
			</div>
		</div>
		#{/}
		#{field 'patient.district'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_district">&{'district'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
			</div>
		</div>
		#{/}
		#{field 'patient.city'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_city">&{'city'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		    	<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.street'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_street">&{'street'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		    	<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.house'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_house">&{'house'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		    	<span class="requiredField">&{'validation.required'}</span>
			</div>
		</div>
		#{/}
		#{field 'patient.flat'}
		<div class="patientLabelValue">
			<div class="patientLabel">
				<label for="patient_flat">&{'flat'}</label>
			</div>
			<div class="patientValue">
				<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}">
		    	<span class="requiredField">&{'validation.numeric'}</span>
			</div>
		</div>
		#{/}
		<p class="crudButtons">
	         <input type="submit" name="_save" value="&{'crud.save'}" class="saveButton"/>
	         <a href="@{PatientView.show(patient.patientId)}" class="cancelButton">&{'crud.cancel'}</a>
	     </p>
	#{/form}
	</div>
	<div id="tabs-2">
		%{medicineCard = models.MedicineCard.find("byMedicineCardId", patient.medicineCard.medicineCardId).first()}%
		<input id="hidden-med-card-id" type="text" value="${medicineCard.medicineCardId}">
		<div class="medecineCardLabelValue">
			<div class="medecineCardLabel">
				<label for="medicineCard_creationDate">&{'creationDate'}</label>
			</div>
			<div class="medecineCardValue">
				<input id="medicineCard_creationDate" type="text" name="medicineCard.creationDate" value=${medicineCard.creationDate.format()} disabled="disabled">
			</div>
		</div>
		<div class="medecineCardLabelValue">
			<div class="medecineCardLabel">
				<label for="medicineCard_otherInfo">&{'otherInfo'}</label>
			</div>
			<div class="medecineCardValue">
				<textarea id="medicineCard_otherInfo" name="medicineCard.otherInfo">${medicineCard.otherInfo}</textarea>
			</div>
		</div>
		<div id="anamneses-info">
			<input id="hidden-med-card-id" type="text" value="${medicineCard.medicineCardId}">
			<div class="anamnesis-data">&{'anamnesis.data'}</div>
			#{list items: models.Anamnesis.findAll(), as:'anamnesis'}
				<div class="anamnesis">
					<div class="anamnesisTypeName">${anamnesis.anamnesisName}</div>
					#{list items: anamnesis.anamnesisDetails, as:'anamnesisDetail'}
						<div class="anamnesisFields">
							#{if anamnesisDetail.type.name() == 'DROPDOWN'}
								%{
									descriptionText = "";
								}%
								<div class="anamnesisDetailValueContainer">
									#{list items:anamnesisDetail.anamnesisDetailValues, as:'anamnesisDetailValue'}
										#{if contentMap != null && !contentMap.isEmpty() && contentMap.keySet().contains(anamnesisDetailValue)}
											<input class="hidden-id" value="${anamnesisDetailValue.anamnesisDetailValueId}" style="display: none;">
											%{
												descriptionText = contentMap.get(anamnesisDetailValue);
											}% 
										#{/if}
									#{/list}
									<input class="anamnesis-checkbox" type="checkbox" value="">
									<div class="anamnesisDetailName">${anamnesisDetail.anamnesisDetailName}</div>
						  			#{select 'anamnesisDetailValues', class:"anamnesisSelect"}
										#{list items:anamnesisDetail.anamnesisDetailValues, as:'anamnesisDetailValue'}
											#{option anamnesisDetailValue.anamnesisDetailValueId}
												${anamnesisDetailValue.anamnesisDetailValueName}
											#{/option}
							   			#{/list}
									#{/select}
									<input class="anamnesis-description" value="${descriptionText}" type="text" disabled="disabled">
								</div>
							#{/if}
							#{elseif anamnesisDetail.type.name() == 'CHECKBOX'}
								<div class="anamnesisDetailName">${anamnesisDetail.anamnesisDetailName}</div>
								#{list items:anamnesisDetail.anamnesisDetailValues, as:'anamnesisDetailValue'}
									%{
										descriptionText = "";
									}%
									<div class="anamnesisDetailValueContainer">
										#{if contentMap != null && !contentMap.isEmpty() && contentMap.keySet().contains(anamnesisDetailValue)}
											<input class="hidden-id" value="${anamnesisDetailValue.anamnesisDetailValueId}" style="display: none;">
											%{
												descriptionText = contentMap.get(anamnesisDetailValue);
											}% 
										#{/if}
										<input class="anamnesis-checkbox" type="checkbox" value="${anamnesisDetailValue.anamnesisDetailValueId}">
										<div class="anamnesisDetailValueName">${anamnesisDetailValue.anamnesisDetailValueName}</div>
										<input class="anamnesis-description" value="${descriptionText}" type="text" disabled="disabled">
									</div>
						   		#{/list}
							#{/elseif}
						</div>
					#{/list}
				</div>
			#{/list}
		</div>
		<div id="anamnesis-disease-info">
			<div class="anamnesis-data">&{'anamnesis.disease'}</div>
			#{list items: models.AnamnesisDisease.findAll(), as:'anamnesisDesease'}
				<div class="anamnesis">
					<div class="anamnesisTypeName">${anamnesisDesease.anamnesisDiseaseName}</div>
					#{if anamnesisDesease.type.name() == 'DROPDOWN'}
						%{
							descriptionText = "";
						}%
						<div class="anamnesisDeseaseDetailValueContainer">
							#{list items:anamnesisDesease.anamnesisDiseaseDetails, as:'anamnesisDiseaseDetail'}
								#{if diseaseContentMap != null && !diseaseContentMap.isEmpty() && diseaseContentMap.keySet().contains(anamnesisDiseaseDetail)}
									<input class="hidden-id" value="${anamnesisDiseaseDetail.anamnesisDiseaseDetailId}" style="display: none;">
									%{
										descriptionText = diseaseContentMap.get(anamnesisDiseaseDetail);
									}% 
								#{/if}
							#{/list}
							<input class="anamnesis-checkbox desease" type="checkbox" value="">
					  		#{select 'anamnesisDiseaseDetails', class:"anamnesisSelect anamnesisSelectDesease"}
								#{list items:anamnesisDesease.anamnesisDiseaseDetails, as:'anamnesisDiseaseDetail'}
									#{option anamnesisDiseaseDetail.anamnesisDiseaseDetailId}
										${anamnesisDiseaseDetail.anamnesisDiseaseDetailName}
									#{/option}
						  		#{/list}
							#{/select}
							<input class="anamnesis-description" value="${descriptionText}" type="text" disabled="disabled">
						</div>
					#{/if}
					#{elseif anamnesisDesease.type.name() == 'CHECKBOX'}
						#{list items:anamnesisDesease.anamnesisDiseaseDetails, as:'anamnesisDiseaseDetail'}
							%{
								descriptionText = "";
							}%
							<div class="anamnesisDeseaseDetailValueContainer">
								#{if diseaseContentMap != null && !diseaseContentMap.isEmpty() && diseaseContentMap.keySet().contains(anamnesisDiseaseDetail)}
									<input class="hidden-id" value="${anamnesisDiseaseDetail.anamnesisDiseaseDetailId}" style="display: none;">
									%{
										descriptionText = diseaseContentMap.get(anamnesisDiseaseDetail);
									}% 
								#{/if}
								<input class="anamnesis-checkbox desease" type="checkbox" value="${anamnesisDiseaseDetail.anamnesisDiseaseDetailId}">
								<div class="anamnesis-desease-detail-name">${anamnesisDiseaseDetail.anamnesisDiseaseDetailName}</div>
								<input class="anamnesis-description" value="${descriptionText}" type="text" disabled="disabled">
							</div>
					  	#{/list}
					#{/elseif}
				</div>
			#{/list}
		</div>
		<p class="crudButtons">
	        <a class="saveButton" href="#" onclick="saveMedicineCard()">&{'save'}</a>
	        <span>&nbsp;</span>
	        <a href="@{PatientView.show(patient.patientId)}" class="cancelButton">&{'crud.cancel'}</a>
	    </p>
	</div>
	<div id="tabs-3">
		#{surveyTable patient: patient /}
	</div>
	<div id="tabs-4">
		#{include 'tags/survey/charts.html' /}
	</div>
	<div id="tabs-5">
		<h1>
			Nothing TODO here
		</h1>
	</div>
	
</div>