#{extends 'CRUD/layout.html' /}
#{set title:messages.get('objects.analysissubtypes') /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'objects.analysissubtypes'}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['analysisSubTypeName'] /}
    </div>

    <div id="crudListPagination">
        &{'total', models.AnalysisSubType.count()}
        #{pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'analysissubtype.add'}</a>
    </p>

</div>
