#{extends 'CRUD/layout.html' /}
#{set title:messages.get('medication.edit') /}

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'medication.edit'}</h2>

    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form fields:['medicationName', 'treatmentType', 'medicationDetails']}
        	#{crud.custom 'medicationDetails'}
	    		<label for="nosologyTypes"><a href="@{admin.MedicationDetails.list()}" class="nonUnderlined">&{'objects.medicationdetails'}</a></label>
	    		%{medicationDetails = models.MedicationDetail.find("byMedication", object).fetch()}%
	    		#{if medicationDetails != null && !medicationDetails.isEmpty()}
	    		<div class="list">
					#{list items:medicationDetails, as:'medicationDetail'}
			           	<li>
			           		<span id="${medicationDetail.medicationDetailId}" class="hiddenLinks">
								@{admin.MedicationDetails.show(medicationDetail.medicationDetailId)}
			        		</span>
			        		${medicationDetail.medicationDetailName}
		        		</li>
				    #{/list}
				</div>
				#{/if}
	    		#{else}
					&{'crud.list.empty'}
				#{/else}
        	#{/crud.custom}
        #{/crud.form}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}
    </div>

    #{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="&{'medication.delete'}" onclick="return confirm('&{'medication.delete'}')"/>
        </p>
    #{/form}

</div>