#{extends 'CRUD/layout.html' /}
#{set title:messages.get('complaints.edit.title') /}

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'complaints.edit.title'}</h2>

    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form }
			#{crud.custom 'complaintType'}
        	    <label for="${medicineCard}">&{'complaintType'}</label>
		       #{select 'object.complaintType.complaintTypeId', items:models.ComplaintType.findAll(), valueProperty:'complaintTypeId', 
		       		labelProperty:'complaintTypeName', value:object.complaintType.complaintTypeId, id:'complaintTypeSelector' /}
        	#{/crud.custom}
        #{/crud.form}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}
    </div>

    #{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="&{'complaint.delete'}" onclick="return confirm('&{'complaint.delete'}')"/>
        </p>
    #{/form}

</div>