#{extends 'CRUD/layout.html' /}
#{set title:messages.get('objects.surveyanalysiss') /}

<script>
    #{include '/public/javascripts/survey-analysiss-list.js'/}
</script>


<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'objects.surveyanalysiss'}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['description', 'value'] }
           #{crud.custom 'description'}
           	  <span class="hiddenLinks">@{admin.SurveyAnalysiss.show(object.surveyAnalysisId)}</span>
		      ${object.description}
		   #{/crud.custom}
           #{crud.custom 'value'}
           	  <span class="hiddenLinks">@{admin.SurveyAnalysiss.show(object.surveyAnalysisId)}</span>
		      ${object.value}
		   #{/crud.custom}
		#{/ crud.table}
    </div>

    <div id="crudListPagination">
    	&{'total', models.SurveyAnalysis.count()}
        #{pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'surveyanalysis.add'}</a>
    </p>

</div>
