#{extends 'CRUD/layout.html' /}
#{set title:messages.get('users') /}

<script>
    #{include '/public/javascripts/users-list.js'/}
</script>


<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'users'}</h2>

    <div id="crudListTable">
        #{crud.table fields:['lastName', 'firstName', 'middleName', 'post', 'roles']}
		#{crud.custom 'lastName'}
              	<span class="hiddenLinks">@{admin.Users.show(object.userId)}</span>
              	&{object.lastName}
		#{/crud.custom} 
		#{crud.custom 'firstName'}
				<span class="hiddenLinks">@{admin.Users.show(object.userId)}</span>
              	&{object.firstName}
		#{/crud.custom} 
		#{crud.custom 'middleName'}
				<span class="hiddenLinks">@{admin.Users.show(object.userId)}</span>
              	&{object.middleName}
		#{/crud.custom}
		#{crud.custom 'post'}
				<span class="hiddenLinks">@{admin.Users.show(object.userId)}</span>
              	&{object.post}
		#{/crud.custom}
		#{crud.custom 'roles'}
				<span class="hiddenLinks">@{admin.Users.show(object.userId)}</span>
				&{object.roles.roleName}
		#{/crud.custom}        
		#{/crud.table}        
    </div>

    <div id="crudListPagination">
        &{'total', models.User.count()}
        #{pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'user.add'}</a>
    </p>

</div>
