#{extends 'CRUD/layout.html' /}
#{set title:messages.get('complaints') /}

<script>
    #{include '/public/javascripts/complaints-list.js'/}
</script>



<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'complaints'}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['complaintName', 'complaintType'] }
           #{crud.custom 'complaintName'}
           	  <span class="hiddenLinks">@{admin.Complaints.show(object.complaintId)}</span>
		      ${object.complaintName}
		   #{/crud.custom}
		   #{crud.custom 'complaintType'}
		      <span class="hiddenLinks">@{admin.ComplaintTypes.show(object.complaintType.complaintTypeId)}</span>
		      ${object.complaintType.complaintTypeName}
		   #{/crud.custom}
		#{/ crud.table}
    </div>

    <div id="crudListPagination">
        &{'total', models.Complaint.count()}
        #{pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'complaints.add'}</a>
    </p>

</div>
