#{extends 'CRUD/layout.html' /}
#{set title:messages.get('objects.anamnesisdiseases') /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'objects.anamnesisdiseases'}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['anamnesisDiseaseName', 'syndrome']}
        	#{crud.custom 'anamnesisDiseaseName'}
           	  <span class="hiddenLinks">@{AnamnesisDiseases.show(object.anamnesisDiseaseId)}</span>
		      ${object.anamnesisDiseaseName}
		   	#{/crud.custom}
        	#{crud.custom 'syndrome'}
              #{if object.syndrome != null}
	           	  <span class="hiddenLinks">@{Syndromes.show(object.syndrome.syndromeId)}</span>
			      ${object.syndrome.name}
		      #{/if}
		   #{/crud.custom}
        #{/crud.table}
    </div>

    <div id="crudListPagination">
        &{'total', models.AnamnesisDisease.count()}
        #{pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'anamnesisdisease.add'}</a>
    </p>

</div>
